.jumbotron {
	background-image: linear-gradient( rgba(18, 42, 63, 0.5), rgba(18, 42, 63, 0.5) ), url('../images/garden.jpg');
	background-position: 50% 70%;
	background-size: cover;
	color: white;
	margin-bottom: 0;
}
