.index-standfirst {
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: white;
	margin-top: -($jumbotron-padding);
}

.index-images {
	padding-top: 2rem;

	.row {
		margin-bottom: 3rem;
	}

	.index-image {
		height: 12rem;
	}

}